{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Création d'une nouvelle session de dessin{% endblock %}
{% block content %}
    <h2 class="text-center">Quel sera le sujet de la partie?</h2>
    <hr>
      <form method="post" class="container" action="{% url "creer_partie" %}" >
    {% csrf_token %}
    <div class="col-6">
        {{ form.theme|as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.creatorId|as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.creatorName|as_crispy_field }}
    </div>
    <div class="col-6">
        {{ form.isActive|as_crispy_field }}
    </div>
    <button type="submit" class="btn btn-info">Créer partie</button>
    </form>
{% endblock %}