{% extends "base.html" %}
{% block title %}Détails de la partie n° {{ id_partie }}{% endblock %}
{% block content %}
    <h3 class="text-center">Thème: {{ theme }}</h3>
    <p class="text-center">partie n° {{ id_partie }}</p>
    <div class="row">
        <div class="table col-md-5">
            <table class="table">
                <thead>
                <tr>
                    <th>créateur</th>
                    <th>réalisation</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for f in drawingsinparty %}
                    <tr class="drawindtr" style="">
                        <td>{{ f.userId }}</td>
                        {% load static %}
                        <td><img src="{{ f.link }}" alt="dessin de l'user"
                                 class=" drawingimg img-fluid"/>
                        </td>
                        <td>
                            {% if creatorid == sessionid %}
                                <button class="btn btn-info"><i class="fas fa-eye"></i></button>
                                <button class="btn btn-secondary"><i class="fas fa-eye-slash"></i></button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table col-md-3">
            <table class="table">
                <thead>
                <tr>
                    <th>participants</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for e in usersinparty %}
                    <tr class="" }>
                        <td class="">{{ usernames.pop }} &nbsp; {% if usernames == sessionid %}<i class="fas fa-crown text-warning"></i>{% endif %}</td>
                        <td class="">
                            {% if creatorid == sessionid %}
                                <button class="btn btn-info"><i class="fas fa-eye"></i></button>
                                <button class="btn btn-secondary"><i class="fas fa-eye-slash"></i></button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    <div class="col-md-2">
        <div class="text-center">
                <a href="{% url 'rejoindre_partie' id_partie %}" class='btn btn-info btndrawing'><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;<span>rejoindre la session</span></a><br>
                <a href="{% url 'fin_de_partie' id_partie %}" class='btn btn-danger btndrawing'><i class="fas fa-pen"></i>&nbsp;&nbsp;<span>arrêter la session</span></a><br>
                <a href="{% url 'drawing' id_partie %}" class='btn btn-warning btndrawing'><i class="fas fa-pen"></i>&nbsp;&nbsp;<span>Dessinez !</span></a>
            </div>
    </div>
    </div>
{% endblock %}