{% extends "base.html" %}
{% block title %}Liste des parties disponibles{% endblock %}
{% block content %}
    <h2 class="text-center">Liste des parties disponibles !</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Créateur</th>
            <th>thème</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for element in gameslists %}
            <tr>
                <td>{{ element.creatorName }}</td>
                <td>{{ element.theme }}</td>
                <td>
                    <a class='btn btn-primary' href="{% url "details_partie" element.id %}"><i class="fas fa-arrow-right">&nbsp;</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}