{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Connexion{% endblock %}
{% block content %}
    {% if envoi %}Demande Login bien recu !{% endif %}
    {% if loginreussi %}identifiant OK{% endif %}
    <h2>Connectez vous pour accéder au site</h2>
    <div class="container-fluid">
        <div class="row ">
          <div class="col-lg-6 order-lg-1 my-auto ">
            <h2>Odic</h2>
             <form action="{% url "login" %}"   method="post">
                {% csrf_token %}
                    <div class="col-6">
                        {{ form.pseudo|as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ form.password|as_crispy_field }}
                    </div>
                    <div class="col-6">
                         <button type="submit" class="btn btn-primary">Login</button>
                    </div>
             </form>
          </div>
           <div class="col-lg-6 order-lg-2 text-white showcase-img homeIllu" ></div>
        </div>

    </div>

{% endblock %}