{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Inscription Odic{% endblock %}
{% block content %}
    <div class="homeIllu d-flex align-items-center">
        <div class="container-fluid">
            <h1>Inscrivez-vous pour faire <br>part de l'aventure Odic</h1>
            <div class="row ">
                <div class="col-lg-6 order-lg-1 my-auto ">
                    <form action="{% url "register" %}" method="post">
                        {% csrf_token %}
                        <div class="col-6">
                            {{ form.pseudo|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.password|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary">Inscription</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 order-lg-2 text-white showcase-img"></div>
            </div>

        </div>
    </div>
{% endblock %}